ls

emsbuild/
emsbuild/*
build*/*
**/emsbuild/
emsdk/
emsdk/*
**/emsdk/

**/build/

**/build-*/
**/build-*/*


.kdev4/
.vscode/


CMakeLists.txt.user
CMakeLists.txt.user.*
data.c

wd/imgui.ini


build-idea_man-Desktop-Debug/
